.cursor {
    cursor: pointer;
    color: white;
}

.navbar {
    background-color: #1E2F23 !important;
    display: flex;
    justify-content: space-between;
}

.text {
    display: flex;
    gap: 2rem;
}

.colormyname {
    color: #D2FF28 !important;
}

.text-decorator-none {
    text-decoration: none;
}