.cursor {
    cursor: pointer;
    color: black;
}

.navbar {
    background-color: white !important;
    display: flex;
    justify-content: space-between;
}

.text {
    display: flex;
    gap: 2rem;
}

.colormyname {
    color: red !important;
}

.text-decorator-none {
    text-decoration: none;
}