.box1 {
    background-color: 
    #241c41;
    height: 120px;
}

.box2 {
    background-color: 
    #241c41;
    color: white;
}

.github {
    font-size: 40px !important;
    color: white;
}

.linkedin {
    font-size: 50px !important;
    color: white;
}

.textos {
    color: white;
}
