.box1 {
    background-color: #34623F;
    height: 120px;
}

.box2 {
    background-color: #1E2F23;
    color: white;
}

.github {
    font-size: 40px !important;
    color: white;
}

.linkedin {
    font-size: 50px !important;
    color: white;
}

.textos {
    color: white;
}
