.caixa {
    background-color: 
    #fbe35b;
}

.titulo {
    color: black !important;
    font-weight: bold !important;
}

.botao {
    border-color: white !important;
    background-color: #3F51B5;
    color: white !important;
}

.postagens {
    background-color: #d7d5cf;
}

.text-decorator-none {
    text-decoration: none;
}